/* Card.css */
.card-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-container:hover {
    transform: scale(1.3); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
  }
  
  .card-container img {
    transition: transform 0.3s ease;
  }
  
  .card-container:hover img {
    transform: scale(1.3);
    overflow: hidden;
  }
  